* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
.search_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBox {
  width: 40%;
  padding: 10px;
  text-align: center;
  display: block;
  border-radius: 15px;
  border: none;
}

.mainBox {
  background-image: url('https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5fGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: auto;
  padding-top: 60px;

}
.inputBox::placeholder{
  font-size: 14px;
  color: black;
}
.inputBox:focus{
  border: none;
  outline: none;
}

.search_btn{
  font-size: 14px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
  margin-left: 20px;
  border: none;
}
sup {
  font-size: 10px;
}
.bigBox {
  width: 60%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.463);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 20px auto;
  border-radius: 15px;
  
}
.imageBox {
  width: 50%;
  display: flex;
  justify-content: center;
}
.imageBox img {
  width: 80%;
}
.weatherBox {
  width: 50%;
  padding-left: 100px;
}

/* small overlap box */
.mainBoxOverlapBox {
  width: 70%;
  margin: auto;
  position: relative;
  top: -70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.smallBox {
  width: 10%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 0px;
  border-radius: 15px;
}
.smallBox img {
  width: 50%;
}


.search_btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

.weatherBox p{
  margin: 10px 0px;
}
.weatherBox h1{
  font-size: 50px;
}
.weatherBox h2{
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}

.error{
  margin-top:2rem;
  text-align:center;
  color:white;
}